<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Funds Transfer</title>
</head>
<body>
    <h1>Funds Transfer</h1>
    <form th-data-action="@{/transfer}" method="post" th-data-object="${transfer}">
        <div>
            <label for="fromAccount">From account:</label>
            <select id="fromAccount" name="fromAccount" th-data-field="*{fromAccount}">
                <th-data-block th-data-each="account : ${accounts}">
                    <option th-data-value="${account.accountId}" th-data-text="${account.name} + ' (' + ${account.accountId} + ')'"></option>
                </th-data-block>
            </select>
            <span th-data-if="${#fields.hasErrors('fromAccount')}" th-data-errors="*{fromAccount}"></span>
        </div>
        <div>
            <label for="toAccount">To account:</label>
            <select id="toAccount" name="toAccount" th-data-field="*{toAccount}">
                <th-data-block th-data-each="account : ${accounts}">
                    <option th-data-value="${account.accountId}" th-data-text="${account.name} + ' (' + ${account.accountId} + ')'"></option>
                </th-data-block>
            </select>
            <span th-data-if="${#fields.hasErrors('toAccount')}" th-data-errors="*{toAccount}"></span>
        </div>
        <div>
            <label for="amount">Amount:</label>
            <input type="number" id="amount" name="amount" min="0.01" step="0.01" th-data-field="*{amount}" />
            <span th-data-field="${#fields.hasErrors('amount')}" th-data-errors="*{amount}"></span>
        </div>
        <div>
            <label for="comments">Comments:</label>
            <textarea id="comments" name="comments" th-data-field="*{comments}"></textarea>
        </div>
        <div>
            <button type="submit">Transfer</button>
        <h3>Error Messages:</h3>
            <ul>
                <li placeholder="Error message print here" th:each="error : ${#fields.errors()}" th:text="${error}"></li>
            </ul>

    </form>
</body>
</html>