<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successful Transfer</title>
</head>
<body>
    <div data-th-object="${transfer}">
        Your transfer of $<span data-th-text="*{transfer.amount}"></span> from 
        <span data-th-text="*{transfer.from}"></span> to  
        <span data-th-text="${transfer.to}"></span><br />
        is successful.</p>
        Transaction id is <a
        data-th-href="@{'/transfer/{transferID}' (transferId=*{transferId})}"
        data-th-text="*{transferId}"></a><br /><br />
      </div>
</body>
</html>